html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------START--------------------- */

body {
  font-size: 15px;
  padding: 100px 150px 0 150px;
  font-family: "Spartan";
  display: flex;
  justify-content: center;
  /* background: url(./images/bg-pattern-top-desktop.svg) left top no-repeat,
    url(./images/bg-pattern-bottom-desktop.svg) right bottom -150px no-repeat;
 */
}

html {
  background: url(./images/bg-pattern-top-desktop.svg) left top no-repeat,
    url(./images/bg-pattern-bottom-desktop.svg) right bottom no-repeat;
}

main {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ----------------TOP SECTION------------------------- */

.top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left {
  width: 50%;
}

.left h1 {
  font-size: 50px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}

.left p {
  color: hsl(303, 10%, 53%);
  font-weight: 500;
  margin-top: 20px;
  padding: 0 70px 0 0;
  line-height: 1.5em;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rating {
  max-width: 430px;
  border-radius: 10px;
  display: flex;
  background-color: hsl(300, 24%, 96%);
  justify-content: flex-start;
  padding: 23px 0 23px 30px;
}

.rating img {
  margin: 0 5px 0 0;
}

.rating p {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  margin: 0 0 0 20px;
}

.rating.second {
  margin-left: 45px;
}

.rating.third {
  margin-left: 90px;
}

/* ---------------BOTTOM SECTION ------------------- */

.bottom {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  color: hsl(300, 24%, 96%);
}

.card {
  background-color: hsl(300, 43%, 22%);
  margin-right: 30px;
  padding: 40px 30px;
  border-radius: 10px;
}

.card.two {
  position: relative;
  top: 15px;
}

.card.three {
  margin-right: 0px;
  position: relative;
  top: 30px;
}

.avatar {
  display: flex;
  text-align: center;
}

.avatar img {
  width: 50px;
  border-radius: 50%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 25px;
}

.name {
  font-weight: 700;
  color: white;
}

.role {
  color: hsl(333, 80%, 67%);
  font-weight: 500;
}

.comment {
  margin-top: 30px;
  line-height: 1.5rem;
  max-width: 280px;
}

@media (max-width: 1240px) {
  .rating.second {
    margin-left: 0px;
  }
  .rating.third {
    margin-left: 0px;
  }
}

@media (max-width: 1120px) {
  body {
    padding: 100px 50px 0 50px;
  }
}

@media (max-width: 920px) {
  body {
    justify-content: center;
    align-items: center;
    padding: 50px 20px 10px 20px;
    background: url(./images/bg-pattern-top-mobile.svg) left top no-repeat,
      url(./images/bg-pattern-bottom-mobile.svg) right bottom no-repeat;
  }
  main {
    justify-content: center;
    text-align: center;
    max-width: 400px;
  }
  .top {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .left {
    width: 100%;
  }

  .left h1 {
    font-size: 25px;
    padding: 0 40px;
  }
  .left p {
    padding-right: 0px;
    font-size: 14px;
  }

  .right {
    width: 100%;
    margin-top: 35px;
  }

  .rating p {
    font-size: 13px;
    margin: 10px 0 0 0;
  }

  .rating {
    flex-direction: column;
    padding: 10px 0 10px 0;
    margin-bottom: 15px;
  }

  .bottom {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .card {
    margin: 0px;
  }
}
